{% extends 'base.html.twig' %}

{% block title %}New Education{% endblock %}

{% block body %}
    <h1 class="bg-warning text-center mt-3">Nouvelle formation</h1>

    {{ include('education/_form.html.twig') }}

    <a class="btn bg-primary text-white" href="{{ path('education_index') }}">back to list</a>
{% endblock %}
