<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mon Linkedin </h4>
                <a href="https://www.linkedin.com/in/elisa-bourg-7848a9171/" >   <img class="img-admin" src="{{ asset('build/linkedin.png') }}" alt="html"></a>
                <p class="lead mb-0 mt-3">
                    N'hésitez pas à me contacter
                    <br/>
                    pour des projets
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Mes hobbies</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fa fa-gamepad" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fa fa-film" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#"><i class="fa fa-plane" aria-hidden="true"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">Mon github</h4>
                <a href="https://github.com/Lila-dev-alt" >   <img class="img-admin" src="{{ asset('build/Github.png') }}" alt="html"></a>
                <p class="lead mb-0 mt-3">
                    Afin d'accéder aux différents projets auxquels j'ai participé
                    .
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><p>Copyright © Elisa Bourg 2020</p></div>
</div>

